{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron jumbotron-fluid libro-jumbotron authors-jumbotron">
    <div>
        <div class="row">
            <h1 class="text-white books-jumbotron-text">Authors</h1>
    </div>
</section>

<section class="featured-authors">
<div class="container-fluid">
  <h1 class="text-center mb-3">Featured</h1>
  <div class="scrolling-wrapper">
    {% for author in featuredauthors %} {% include "./_slide.html" with obj=author type="author" numAuthors=nauthors %} {% endfor %}
  </div>
</div>
</section>
<section class="author-filters">
<div class="container-fluid">
	<a href="browse"><h1 class="text-center mb-3">Browse</h1></a>
</section>
{% endblock %}asdf