{% extends "base.html" %}
{% load static %}
{% block content %}
  <section class="jumbotron">
    <div class="row text-left author-row">
      <span>Explore Books</span>
    </div>
  </section>    
    <section class="browse-authors">
      <div class="album py-5 bg-light">
        <div id="app">
          <div class="sort-orders">
            <a v-for="sortkey in Object.keys(orderedListOptions)" v-on:click="sortOrder = sortkey" v-bind:class="{active: sortOrder == sortkey}"><%sortkey%></a>
          </div>
          <div v-for="(item, index) in sort(sortOrder)" v-id="index" class="author-list">
            <a v-bind:href="item.absolute_url"><span class="author-name"><% item.full_name %></span></a><span class="author-books" v-for="book in item.book_to_author"><% book %>&nbsp;&nbsp;&nbsp;</span>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  {% block scripts %}
    <script src="{% static 'authorfiltervue.js' %}"></script>
  {% endblock%}