{% extends "base.html" %}
{% load static %}
{% block content %}
	<section class="jumbotron jumbotron-fluid libro-jumbotron list-detail-jumbotron">
		<div class="lines-wrapper">
			<div class="left-quotes" style="background-image: url({% static 'leftquotes.png' %})">
			</div>
				<div class="first-lines">
					Many people, myself among them, feel better at the mere sight of a book.
				</div>
			</div>
			<h4 class="libre text-white quote-attr">
			– Jane Smiley
			</h4>
</section>
<div class="container list-container">
	<div class="row">
		<div class="col">
			<a href="awards"><h1>Author Lists</h1></a>
			{% for list in author_lists %}
				<a href="{{ list.get_absolute_url }}"><p>{{ list.name }}</p></a>
			{% endfor %}
		</div>
		<div class="col">
			<a href="editorial"><h1>Book Lists</h1></a>
			{% for list in book_lists %}
				<a href="{{ list.get_absolute_url }}"><p>{{ list.name }}</p></a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}