/*loading our fonts*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


/*site-wide*/
a {
	color: #E81C23;
}

a:hover {
	color: #680D10;
	text-decoration: none;
}

.libro-jumbotron {
	height: 35vh;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.libro-jumbotron .row {
	height: 35vh;
}

.libro-jumbotron div.jumbotron-text {
	margin-left: 10%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.libro-jumbotron div.jumbotron-text h2 {
	font-family: "Libre Baskerville", serif;
}

.home-jumbotron {
	background: #000000;
}

.libro-jumbotron .home-image {
	height: 35vh;
	background-size: cover;
	clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

.books-jumbotron {
	background: #000000;
}

.books-jumbotron-text {
	font-size: 10vw !important;
	margin: auto;
	font-family: "Libre Baskerville", serif;
	font-size: 9em;
}

.authors-jumbotron {
	background: #000000;
}

.author-detail-jumbotron {
	background: #CFD0D1;
	padding-top: 0;
	padding-bottom: 0;
}

.author-detail-jumbotron .author-image {
	background-size: cover;
	height: auto;
	min-height: 50vh;
}

.author-detail-jumbotron h1.author-name {
	font-size: 1em;
	font-family: "Libre Baskerville", serif;
}

.author-detail-jumbotron div.display-3 {
	padding-left: 25px;
}

.author-detail-jumbotron p.author-bio {
	font-size: 1rem;
}

.book-browse-wrapper {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}

.book-browse-wrapper span:nth-child(2) {
	font-size: 1.5em;
}

.browse-book-name {
	display: inline-block;
}

.browse-author-books {
	display: flex;
	margin-top: 8px;
}

.browse-author-books p {
	text-decoration: underline;
	margin-bottom: 0;
	font-family: "Libre Baskerville", serif;
	font-size: smaller;
	display: inline-block;
}

.browse-authors h2.browse-author-name {
	display: inline-block;
	margin-top: 10px;
}

.browse-authors span:first-child {
	font-size: small;
	font-family: "Libre Bakserville", serif;
}

.browse-author-books a {
	color: #000000;
}

.browse-author-books a:hover {
	color: #000000;
}

/*for cards*/
.card {
	transition: 1s border ease;
	flex-direction: row;
	margin: 20px;
	min-width: 320px;
}

.card-block {
	width: 100%;
}

.card-title {
	margin-top: .75rem;
}


div.card-bg-image {
	height: 220px;
	width: 50%;
	overflow: hidden;
	border-right: 2px solid black;
	float: left;
	margin-right: 15px;
}

.author-card div.card-bg-image {
	background-position: center;
}

.card:hover {
	border: 1px solid black;
}

.card-body {
	max-width: 59%;
}

section.books-breadcrumbs div.breadcrumbs-wrapper {
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.books-breadcrumbs div.breadcrumbs-wrapper span {
	margin-left: 5%;
}

.books-breadcrumbs div.breadcrumbs-wrapper a:hover {
	text-decoration: none;
}


.book-details {
	border-bottom: 1px solid black;
}

.book-details .cover-image {
	background-size: cover;
	height: 550px;
	width: 85%;
	margin: auto;
}

.book-details p.publisher {
	width: 22vw;
	margin: auto;
}

.book-details p.book-country {
	width: 22vw;
	margin: auto;
}


.book-details h1.book-title {
	font-size: 1em;
	font-family: "Libre Baskerville", serif;
}

.book-details h2.book-subtitle {
	font-family: "Libre Baskerville", serif;
}

.book-details p.author-name {
	font-family: "Libre Baskerville", serif;
	font-size: 0.5em;
}

.book-details p.pub-year {
	font-family: "Libre Baskerville", serif;
	font-size: 0.4em;
}

.book-details p.book-desc {
	font-size: 0.3em;
}

.book-details div.display-3 {
	padding-right: 5%;
}

/* horizontal scroll*/
div.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

div.scrolling-wrapper div.card {
	display: inline-flex;
	white-space: initial;
}

/*for sign in page*/
body.log-in-page{
	display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

form.form-signin {
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/*author browse list styles*/
ul.last-name-list {
	display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;	
    list-style: none;
    padding-left: 0;  
    justify-content: center;
}

ul.last-name-list li {
	margin-left: 20px;
}

ul.last-name-list li:first-child {
	margin-left: 0;
	padding-right: 20px;
}

/*book search page*/
[v-cloak] {
  display: none;
}

section.browse-books form#main {
	position: relative;
}

section.browse-books .row {
	width: 100%;
}

section.browse-books .col-sm-4 {
	min-height: 25vh;
}