{% extends "accounts_base.html" %}

{% load static %}

{% block content %}
	<div class="col">
		<div class="site-logo"><img src="{% static 'sitelogo.png' %}" height=75 width=75>LibroDB</div>
<h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
<p class="mb-e font-weight-normal">We've emailed you instructions for resetting your password.</p>
<p class="mb-e font-weight-normal">If you don't receive an email, please make sure you entered the correct email address.</p>
<p class="mb=e font-weight-normal">Take me back to the <a href="/">home page</a>.</p>
</div>
{% endblock %}