{% extends "accounts_base.html" %}

{% load static %}

{% block content %}
  {% block title %}Change your password{% endblock %}
<h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
<p class="mb-e font-weight-normal">Use the form below to change your password.</p>
<form class ="form-signin" action="." method="post">
  {{ form.as_p }}
  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" class="form-control">Sign in</button>
  {% csrf_token %}
</form>
{% endblock %}