{% extends "accounts_base.html" %}

{% load static %}

{% block content %}
	<div class="col">
		<div class="site-logo"><img src="{% static 'sitelogo.png' %}" height=75 width=75>Everybook</div>
<h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
<p class="mb-e font-weight-normal">Use the form below to change your password.</p>
<form class ="form-signin" action="." method="post">
  {{ form.as_p }}
    {% csrf_token %}
  <button class="btn btn-lg btn-dark" type="submit" value="Log in" class="form-control">Change Password</button>
</form>
</div>
{% endblock %}