{% extends "accounts_base.html" %}
{% load static %}
{% block content %}
	<div class="col">
		<div class="site-logo"><img src="{% static 'sitelogo.png' %}" height=75 width=75>LibroDB</div>
		<h1 class="h3 mb-3 font-weight-normal">Forgotten your password?</h1>
		<p class="mb-e font-weight-normal">Enter your email address to get a new password.</p>
		<form class ="form-signin" action="." method="post">
			{{ form.as_p }}
			<button class="btn btn-lg btn-dark" type="submit" value="Send e-mail" class="form-control">Submit</button>
			{% csrf_token %}
		</form>
	</div>
{% endblock %}