{% extends "accounts_base.html" %}

{% load static %}

{% block content %}
<div class="col">
	<div class="site-logo"><img src="{% static 'sitelogo.png' %}" height=75 width=75>LibroDB</div>
<h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
<form class ="form-signin" action="." method="post">
	{{ user_form.as_p }}
	{% csrf_token %}
	<button class="btn btn-lg btn-dark btn-block" type="submit" value="Create my account" class="form-control">Create my account</button>
</form>
<p>Already have an account?   <a href="{% url 'accounts:login' %}">Log in here</a></p>
</div>

{% endblock %}