{% load static %}

<footer class="text-light">
	<div class="ltp-footer container-fluid bg-white">
		<div class="row align-items-center">
			<div class="col-6 col-md-4">
			<h3>Layered Translation is a creation of the <a href="https://poeticmedia.stanford.edu/">Poetic Media Lab</a></h3>
			<a href="https://poeticmedia.stanford.edu/"><img class="footer-image" src="{% static "texts/img/poeticmedialab.png" %}"></a>
			</div>
			<div class="col-12 col-md-8">
				<a href="#"><h3>About</h3></a>
				<a href="#"><h3>About</h3></a>
				<a href="#"><h3>About</h3></a>
				<a href="#"><h3>About</h3></a>
			</div>
		</div>
	</div>
</footer>