{% load static %}
<header class="ltp-header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between">
            <div class="navbar-brand col-6">
                <a class="libre site-name" href="/">
                    <img src="{% static "sitelogo.png" %}" width="30" height="30" alt="Everybook site logo" class="d-inline-block align-top sitelogo">Everybook
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-6 text-right" id="navbarText">
                <ul class="navbar-nav ltp-top-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/books">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/authors">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/lists">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/accounts">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'accounts:logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'accounts:login' %}">Log In</a>
                        </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>
</header>