{% extends "base.html" %}
{% load static %}
{% block content %}
	<section class="books-breadcrumbs">
		<div class="breadcrumbs-wrapper">
			<a href="../../books">
				<span>
					<i class="fas fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Books
				</span>
			</a>
		</div>
	</section>
	<section class="jumbotron jumbotron-fluid libro-jumbotron book-detail-jumbotron">
		<div class="lines-wrapper">
			<div class="left-quotes" style="background-image: url({% static 'leftquotes.png' %})">
			</div>
		</div>
	</section>
	<a href="awards"><h1>Award Lists</h1></a>
	{% for list in award_lists %}
	<a href="{{ list.get_absolute_url }}"><p>{{ list.name }}</p></a>
	{% endfor %}
	<a href="editorial"><h1>Editorial lists</h1></a>
	{% for list in editorial_lists %}
	<a href="{{ list.get_absolute_url }}"><p>{{ list.name }}</p></a>
	{% endfor %}
{% endblock %}