{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron">
		<div class="row text-left author-row">
			<span>Explore Books</span>
		</div>
</section>
<section class="browse-books">
<div class="album py-5 bg-light">
    <div class="container text-left">
            {% for book in books %}
                <a href="../{{ book.slug }},{{ book.id }}"><h2 class="browse-book-name">{{ book.book_title }}</h2></a>
                &nbsp;
                <div class="browse-author-books">
                <a href="../../authors/{{ book.slug }},{{ book.id }}"><p>{{ book.author }}</p></a>&nbsp;&nbsp;
            	</div>
            {% endfor %}
    </div>
</div>
</section>

{% endblock %}