{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="books-breadcrumbs">
	<div class="breadcrumbs-wrapper">
		<a href="../../books">
			<span>
				<i class="fas fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Books
			</span>
		</a>
	</div>
</section>
<section class="jumbotron jumbotron-fluid libro-jumbotron book-detail-jumbotron">
	<div class="lines-wrapper">
		<div class="left-quotes" style="background-image: url({% static 'leftquotes.png' %});">
		</div>
	<div class="first-lines">
		{{ book.first_lines|truncatewords:30}}
	</div>
	</div>
</section>
<section class="book-details">
		<div class="row book-row">
		<div class="col-4">
		<div class ="cover-image" style="background-image: url('{{ book.cover_image.url }}');">
		</div>
		<p class="publisher"><span>{{ book.publisher }}</span></p>
		<p class="book-country"><span>{{ book.book_country.name }}</span></p>
		</div>
		<div class="display-3 col-8">
			<h1 class="text-black book-title">{{book.book_title}}</h1>
			<h2 class="text-black book-subtitle">{{ book.book_subtitle }}</h2>
			<p class="author-name">by <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
			<p class="pub-year">{{ book.pub_year }}</p>
			<p class="book-desc">{{ book.book_desc }}</p>
			{% with total_likes=book.likes.count users_like=book.likes.all %}
			<p>{{ total_likes }} like{{ total_likes|pluralize }}</p>
			<a href="#" data-id="{{ book.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
				{% if request.user not in users_like %}
				Like
				{% else %}
				Unlike
				{% endif %}
			</a>
			{% endwith %}
		</div>
		</div>
</section>
<section class="album py-5 bg-light">
	<div class="text-center">
		<h1>Other books by {{ book.author }}</h1>
	</div>
	<div class = "scrolling-wrapper">
            {% for books in author_books %}
                {% include "./_slide1.html" with obj=books type="book" %}
            {% endfor %}
        </div>
</section>

{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "books:like" book.slug book.id %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}