{% extends "base.html" %}
{% load static %}
{% block content %}
	<section class="books-breadcrumbs">
		<div class="breadcrumbs-wrapper">
			<a href="../../{{ kind }}">
				<span>
					<i class="fas fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ kind|title }} Lists
				</span>
			</a>
		</div>
	</section>
	<section class="jumbotron jumbotron-fluid libro-jumbotron book-detail-jumbotron">
		<div class="col"><h1 class="libre text-white text-center">{{ list.name }}</h1></div>
		<div class="col-sm">
			{% if list.list_image %}<div class="img-fluid home-image" style = "background-image: url({{ list.list_image.url }}); background-size: cover; background-position:center;" >
			</div>
			{% endif %}
		</div>
	</section>
	<div>
		
		{% for entry in list_entries %}
			{% include "./_listcard.html" with obj=entry type="book" %}
			{%  endfor %}
		</div>
	{% endblock %}