{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="jumbotron jumbotron-fluid libro-jumbotron books-jumbotron">
    <div>
        <div class="row">
            <h1 class="text-white books-jumbotron-text">Books</h1>
    </div>
</section>

<section class="featured-books">
<div class="container-fluid">
  <h1 class="text-center mb-3">Featured</h1>
  <div class="scrolling-wrapper">
    {% for book in featuredbooks %} {% include "./_slide.html" with obj=book type="book" numBooks=nbooks %} {% endfor %}
  </div>
</div>
</section>
<section>
<a href="browse"><h1>Browse Books</h1></a>
  </section>
{% endblock %}

      